@charset "UTF-8";
/* /////////////////////////////////////////////////////////////////// */

@font-face {
    font-family: minecraft;
    src: url('../fonts/Minecraft.ttf');
}

.bg-blur {
    background-image: url('../medias/background.jpg');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
}

.minecraft-btn {
    background-image: url('../medias/Bouton_minecraft.png');
	font-family: 'minecraft';
  	border-color: #AAA #565656 #565656 #AAA;
  	outline: 2px solid #000;
    cursor: url('../medias/pioche.png'), auto;
}   
  
.minecraft-btn:hover {
    background-image: url('../medias/Bouton_minecraft_hover.png');
  	border-color: #BDC6FF #59639A #59639A #BDC6FF;
}

body{
    cursor: url('../medias/pioche.png'), auto;
}

h1 {
    font-family: 'minecraft';
}

.case-solid{
    background-color: #565656;
}

.case-solid:hover{
    background-color: #737272;
}

.case-break{
    background-color: #000;
}















.option_container {
    position: absolute;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    background-image: url('../medias/textures/dirt.png');
    background-repeat: repeat;
    background-size: 6.25%;
    filter: brightness(0.6);
}
.option_nav {
    width: 100vw;
    height: 15vh;
    background-image: url('../medias/textures/dirt.png');
    background-repeat: repeat;
    background-size: 6.25%;
    padding: 10px;
}
.block-1 {
    background-image: url('../medias/textures/stone.png');
    background-size: cover;
}
.block-2 {
    background-image: url('../medias/textures/cobblestone.png');
    background-size: cover;
}
.block-3 {
    background-image: url('../medias/textures/andesite.png');
    background-size: cover;
}
.block-4 {
    background-image: url('../medias/textures/diorite.png');
    background-size: cover;
}